(c) 2016 - present. Enplus Advisors, Inc.

In [1]:
import numpy as np
import pandas as pd

In [2]:
dat = pd.read_csv('starmine.csv', parse_dates=['date'])
dat = dat.set_index(['date', 'symbol'], verify_integrity=True).sort_index()

**Exercise:**

Calculate the average `smi` by sector.

In [4]:
grp = dat.groupby('sector')

In [5]:
grp['smi'].mean()

sector
Durbl    41.495868
Enrgy    37.072148
HiTec    61.005006
Hlth     51.898917
Manuf    54.563836
Money    52.549612
NoDur    45.263033
Other    45.847586
Shops    46.668071
Telcm    43.003344
Utils    46.740057
Name: smi, dtype: float64

**Exercise:**

Compute summary statistics on `smi` and `cap_usd` using 
the `describe` method.

In [10]:
sst = grp[['smi', 'cap_usd']].describe()

In [14]:
idx = pd.IndexSlice
sst.loc[:, idx[:, ['mean', 'std']]]

              smi                  cap_usd
             mean        std          mean           std
sector
Durbl   41.495868  27.029394  2.176832e+09  5.615704e+09
Enrgy   37.072148  26.242435  4.104717e+09  1.141548e+10
HiTec   61.005006  28.699422  1.590600e+09  5.329590e+09
Hlth    51.898917  28.724574  2.251052e+09  7.159959e+09
Manuf   54.563836  28.963417  2.087164e+09  4.797477e+09
Money   52.549612  25.847665  1.712446e+09  3.511497e+09
NoDur   45.263033  26.719231  3.129786e+09  9.242899e+09
Other   45.847586  29.345801  1.580023e+09  6.486142e+09
Shops   46.668071  28.128908  1.518442e+09  4.340604e+09
Telcm   43.003344  27.227929  5.388131e+09  1.171232e+10
Utils   46.740057  23.440595  2.149179e+09  2.408597e+09

**Exercise:**

By month and sector, calculate the median of `size` and standard deviation of `liq`.

Note that there is only one date per month so you can group by `date` and `sector`)

In [15]:
grp2 = dat.groupby(['date', 'sector'])

In [16]:
grp2.agg(
    size_med=('size', 'median'),
    std_liq=('liq', np.std)
)

                   size_med   std_liq
date       sector
1995-01-31 Durbl  -0.209173  0.249388
           Enrgy  -0.196118  0.261843
           HiTec  -0.616841  0.216948
           Hlth   -0.574538  0.225687
           Manuf  -0.059248  0.271732
...                     ...       ...
1995-11-30 NoDur   0.048762  0.275936
           Other  -0.282161  0.268359
           Shops  -0.292740  0.252594
           Telcm   0.136029  0.310414
           Utils   0.444181  0.242624

[121 rows x 2 columns]

**Exercise:**

By month, calculate quantiles for smi using the quantiles defined in `breaks`. 

Use either the built-in `pandas` quantile approximation method defined
a `Series` or the `numpy` quantile algorithm.

In [17]:
breaks = [0.01, 0.25, 0.5, 0.75, 0.99]

In [18]:
grp3 = dat.groupby('date')
grp3.apply(lambda df: df.smi.quantile(breaks))

smi         0.01  0.25  0.50  0.75    0.99
date
1995-01-31   2.0  28.0  51.0  78.0  100.00
1995-02-28   2.0  28.0  49.0  78.0  100.00
1995-03-31   2.0  26.0  49.0  73.0   99.46
1995-04-30   2.0  26.0  48.0  77.0  100.00
1995-05-31   2.0  28.0  49.0  75.0  100.00
1995-06-30   2.0  28.0  51.0  74.0  100.00
1995-07-31   2.0  28.0  52.0  78.0  100.00
1995-08-31   2.0  28.0  50.0  77.0   99.00
1995-09-30   2.0  28.0  50.0  74.0   99.00
1995-10-31   2.0  28.0  52.0  78.0  100.00
1995-11-30   2.0  29.0  50.0  72.0   99.00

Why does idx = (s3 != np.nan) retrun all True?

In [22]:
np.nan == np.nan

False

In [24]:
s3 = pd.Series([1, 2, 8])
s3 != np.nan

0    True
1    True
2    True
dtype: bool

In [25]:
s3.isnull()

0    False
1    False
2    False
dtype: bool

In [26]:
pd.isnull(s3)

0    False
1    False
2    False
dtype: bool

In [ ]:
s3[s3.notnull() and s3.notinf()]

Can you explain why for the one property it is s3.isnull() but for the other property it is np.isfinite(s3)?

In [ ]:
np.isfinite()

In [ ]:
Is this a valid solution :- df[df['ticker']=='AAPL'][['date','open']]